ATV6/obj/Debug/netcoreapp3.1/ATV6.csprojAssemblyReference.cache
ATV7/obj/Debug/netcoreapp3.1/ATV7.assets.cache
ATV7/obj/Debug/netcoreapp3.1/ATV7.csprojAssemblyReference.cache
ATV8/obj/Debug/netcoreapp3.1/ATV8.assets.cache
ATV8/obj/Debug/netcoreapp3.1/ATV8.csprojAssemblyReference.cache
